.app {
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    display: grid;
    grid-template-columns: 85% auto;
}

.chat {
    width: 100vw;
}

.chat-box {
    border: 1px soilid black;
    display: grid;
    grid-template-columns: 65% auto;
    
    max-width: 100%;
}



.message {
    
    display: flex;
    width: 80%;
    
    margin: 5px;
    
    
    

}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 20px;
    
}

.text-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}


.text-input {
    width: 30vw;
    min-width: 30vw;
    max-width: 30vw;

    height: 75vh;
    min-height: 75vh;
    max-height: 75vh;

    margin: 10px;
    
}
    
    

.text-container {
    margin: 5px;
    max-width: 100%;
    
    
}

.message-text {
    /* max-width: 90%; */
    overflow: hidden;
    display: grid;
    
}

.read-messages {
    display: flex;
    flex-direction: column;
    
    
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sent {
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
}

.received {
    display: flex;
    
    align-self: flex-start;
}


/* .hidden {
    visibility: hidden;
    position: absolute;
} */