body {
    background-color:#D9D8D2;
    color: #29272A;
    font-family: 'Vollkorn', serif;
    font-size: 1.2rem;
    
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    justify-self: center;
    align-self: center;

    width: 65vw;
    height: 80vh;

    border-radius: 50px;

    background-image: url('./notepassing.png');
    background-size: cover;

    box-shadow: 5px 5px #29272a3b;
}

.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
    align-self: center;

    background-color:#d9d8d279;

    height: 18vh;
    width: 20vw;
    border-radius: 30px;
    margin: 50px;

    
}


header {
    display: grid;
    grid-template-columns: 85% auto;
    
    
}

h1 {
    text-shadow: 3px 3px #29272a54;
    font-family: 'Lobster', cursive;
    color: #29272A;
    
}

.main-title {
    margin-left: 5vw;
    
}

.signin-title {
    margin-top: 0px;
    margin-bottom: -10px;
}

.signin-button {
    background-color: #29272A;
    color:#D9D8D2;
    font-family: 'Vollkorn', serif;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    opacity: 85%;
    border: none;
    box-shadow: 3px 3px #29272a62;
}

.send-button {
    width: 90%;
    
}


h4 {
    font-family: 'Lobster', cursive;
    margin: 2px;
}

.chat {
    width: 100vw;
}

.chat-box {
    
    display: grid;
    grid-template-columns: 65% auto;
    
    max-width: 100%;

    
}



.message {
    
    display: flex;
    
    max-width: 80%;
    
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    
    background-color: #D9D8D2;
    border-radius: 40px;

    
    

}

.message:nth-child(3n) {
    background-color: #94453f;
}

.message:nth-child(3n-1) {
    background-color: #6ea82b;
}

.message:nth-child(3n-2) {
    background-color: #8456c5;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 15px;
    
    
}

.text-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}


.text-input {
    width: 30vw;
    min-width: 30vw;
    max-width: 30vw;

    height: 75vh;
    min-height: 75vh;
    max-height: 75vh;

    margin: 10px;
    
    background-image: url("./paper.png");
    background-size: cover;

    font-family: 'Vollkorn', serif;
    
    
}
    
    

.text-container {
    margin: 8px;
    max-width: 100%;
    
    
}

.message-text {
    /* max-width: 90%; */
    overflow: hidden;
    margin: 2px;
    
}

.read-messages {
    display: flex;
    flex-direction: column;
        
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;

    background-color: #29272A;
     
}

.sent {
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
     
    background-color: #41a0b1 !important; 
    
}

.received {
    display: flex;
    
    align-self: flex-start;
}


/* .hidden {
    visibility: hidden;
    position: absolute;
} */